@tailwind base;
@tailwind components;

body {
    background: #E5E5E5;
}

.mb{
    margin-bottom: 40px;
}

.pt{
    margin-top:50px; 
}

.flyingp {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.grass{
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}

.fire {
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}

.water {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}

.bug {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}

.poison {
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);    
}

.electric {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.ground {
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);   
}

.fairy {
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

.fighting {
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}

.normal{
    background: -webkit-linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.psychic {
    background: -webkit-linear-gradient(to top, #c0392b, #8e44ad); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #c0392b, #8e44ad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari */
}

.rock {
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}

.dark {
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}

.steel {
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}

.dragon {
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}

.ghost {
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}


.ice {
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}

.magic {
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}

.flying {
    border: 7px solid #7C3F4C;
}

.grassp{
    border:7px solid  #7EC6C5 ;
}

.firep {
    border: 7px solid #E35825 ;
}

.waterp {
    border: 7px solid  #1479FB ;
}

.bugp {
    border: 7px solid  #3BB039 ;
}

.poisonp {
    border: 7px solid  #5B3184 ;    
}

.electricp {
    border:7px solid #FBAB7E;
}

.groundp {
    border: 7px solid  #895C1A ;   
}

.fairyp {
    border: 7px solid #FF6A88;
}

.fightingp {
    border: 7px solid #F1613C;
}

.normalp{
  border: 7px solid  #f2f2f2;
}

.psychicp {
  border: 7px solid   #8e44ad; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari */
}

.rockp {
    border: 7px solid   #7E7E7E ;
}

.darkp {
    border: 7px solid #030706;
}

.steelp {
    border: 7px solid #728881 ;
}

.dragonp {
    border: 7px solid #56A4AE ;
}

.ghostp {
    border: 7px solid  #787DDA;
}


.icep {
    border: 7px solid #64CBF5 ;
}

.magicp {
    border: 7px solid  #971B45 ;
}
@tailwind utilities;
